@model PagedList.IPagedList<Model.EF.Slide>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lí slide";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section jsFooter{
    <script src="/Assets/admin/js/controller/slideController.js"></script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                @using (Html.BeginForm("Index", "Slide", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12 row ">
                            <div class="col-lg-3">
                                <input type="text" class="form-control" value="@ViewBag.SearchString" name="searchString" />
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <a class="btn btn-primary" href="/Admin/Slide/Create">Thêm mới</a>
                            </div>
                      
                               

                            
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Trạng thái</th>
                                <th>Ngày tạo</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">                               
                                    <td><img src="@item.Image" width="100" /></td>
                                    <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status? "Kích hoạt":"Khóa")</a></td>
                                    <td>@item.CreatedDate</td>
                                    <td>
                                        <a href="/Admin/Slide/Edit/@item.ID">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                        {
                                            Confirm = "Bạn có muốn xóa bản ghi này?",
                                            OnComplete = "$('#row_" + @item.ID + "').remove()",
                                            HttpMethod = "Delete"
                                        })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
            </div>
        </div>
    </div>
</div>