@model OnlineShop.Areas.Admin.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
@{
    string a = (string)ViewBag.Message;
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forgot Password</title>

    <!-- Custom fonts for this template-->
    <link href="/Assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/Assets/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Quên mật khẩu?</h1>
                                        <p class="mb-4">
                                            Chúng tôi hiểu nó, mọi thứ sẽ xảy ra. Chỉ cần nhập địa chỉ email của bạn vào bên dưới và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn!
                                        </p>
                                    </div>
                                    @{
                                        if (a.Length == 0)
                                        {
                                            using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                                            {

                                                @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user", @placeholder = "Enter Email Address..." })
                                                </div>
                                                <div class="form-group" hidden>
                                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-user", @placeholder = "Enter Email Address..." })
                                                </div>
                                                <div class="form-group" hidden> 
                                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-user", @placeholder = "Password" })
                                                </div>
                                             
                                                <button type="submit" class="btn btn-primary btn-user btn-block">Xác nhận mật khẩu</button>
                                                <hr>
                                            }
                                        }
                                        else
                                        {
                                            @ViewBag.Message;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/Assets/admin/js/sb-admin-2.min.js"></script>

</body>

</html>
